<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <script src="js/jquery-2.0.2.min.js"></script>
  <script src="js/masonry.pkgd.min.js"></script>
  <script src="js/my-script.js"></script>
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <title>egoculate</title>
</head>

<body>
  <h1>Sample</h1>
  <div id="container" class="centerd">
    <div class="box col2">aaaaaaaaa</div>
    <div class="box col2">ddddddddd<br>ddddddd<braa><br>aa</div>
    <div class="box col2">ccccccccccc</div>
  </div>
</body>


</html>
